body{
    background-color: bisque;
}
.main_header {
    background-color: tan; 
    width:100vw; 
    height:7vh;
    margin-top: -24px;
    margin-left: -10px;
    margin-bottom: 50px;
}

#table{
    visibility: hidden;
}
#loadButton{
    height: 50px;
    background-color: green;
    padding-bottom: 200 px;
    font-size: 20px;
}
#table {
    min-height: 400px;
    column-width: 200px;
    border: 1px solid black;
    }
    td{
        border: 1px solid black;
    }
    tr{
        border: 1px solid black;
    }
    
#tableSign{
    visibility: hidden;

}